<!-- Footer -->
<footer class="footer text-center">
  <div class="container">
    <ul class="social-links clean">
      <li>
        <a class="social-link rounded-circle" href="https://www.facebook.com/ {{ site.facebook_username }}" target="_blank" rel="noopener">
          <i class="icon-social-facebook"></i>
        </a>
      </li>
      <li>
        <a class="social-link rounded-circle" href="https://twitter.com/{{ site.twitter_username }}" target="_blank" rel="noopener">
          <i class="icon-social-twitter"></i>
        </a>
      </li>
    </ul>
    <p class="text-muted small mb-0">Copyright &copy; 2021 - <a href="mailto:{{ site.email }}" target="_blank" rel="noopener">Erwan Jestin</a></p>
    
    <ul class="clean">
      <li>
        <a href="{% link pages/legal.md %}">Mentions légales</a>
      </li>
    </ul>
  </div>
</footer>

<!-- Netlify CMS - redirect the user back to the /admin/ path -->
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>