<!DOCTYPE html>
<html amp lang="en">

  {% include head.html %}

  <body id="page-top">
    <!-- Navigation -->
    <a class="menu-toggle clean" href="#">
      <i class="icon-menu"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav text-center">
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#concept">Concept</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#services">Services</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#portfolio">Projets</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#about">A Propos</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#contact">Contact</a>
        </li>
        <li class="sidebar-nav-item">
          <a href="/blog">Blog</a>
        </li>
      </ul>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="center-x">
          <img id="logo" src="{{ "/assets/img/logo.png" | relative_url }}" width="140" height="140" title="EJ" />
        </div>
        <div class="text-center small-container">
          <h1 class="web-title no-margin">Création de site vitrine</h1>
          <h3>Votre site Internet professionnel à votre image à partir de 60€ / mois. Sans engagement</h3>
          <br>
          <a id="cta-button" class="btn btn-primary" href="{% link pages/quote.md %}">Estimation en ligne</a>
          <br><br>
          <a class="btn btn-clear arrow js-scroll-trigger" href="#concept">
            <i class="icon-arrow-down v-center"></i>
          </a>
        </div>
      </div>
    </header>
      
    <main>        
      <!-- Concept -->
      <section id="concept" class="main-section">
        <div class="container">
          <h2 class="title">Concept</h2>
          <div class="section-content">
            <p>Vous cherchez un véritable site vitrine sur-mesure ? Sans payer plusieurs dizaines de milliers d’euros ?</p>
            <p>Bienvenue chez moi 👋 !</p>
            <p>Je suis développeur et créateur de sites Internets professionnels depuis plus d’une dizaine d’années. J’ai décidé de permettre à tous ceux qui le veulent d’avoir un site Internet bon marché mais fonctionnel, design et respectant tous les standards techniques.</p>
            <p>Le fonctionnement est simple. Je crée ce qu’on appelle des sites statiques. Il n’y a aucune différence visuel avec les autres sites mais ils sont plus rapides à charger, plus sûrs et globalement plus simples à créer. Par contre certaines fonctionnalités ne sont pas possibles. Pour combler ce manque il est possible d’utiliser des services externes.</p>
            <p>Grâce à ça, vous pouvez avoir un site web entièrement fonctionnel à partir de 60€ par mois, en fonction de vos envies et de vos besoins. En plus du développement technique du site, je prends en charge le design, la mise en ligne et la maintenance sur la durée.</p>
            <p><em>Pour résumer : je m'occupe de la création, du developpement de votre site Internet ainsi que de sa publication et maintenance. Vous fournissez images et textes, je m'occupe du reste. <span class="bold">Une vraie solution tout en UN.</span></em></p>
            <p>Vous pouvez faire une <a class="btn btn-clear btn-yellow clean underline" href="{% link pages/quote.md %}">estimation en ligne</a> pour en savoir plus !</p>
            <p>A tout de suite 😄</p>
          </div>
        </div>
      </section>
      

      <!-- Services -->
      <section id="services" class="main-section">
        <div class="container">
          <h2 class="title">Services</h2>
          <div class="section-content">
            <div class="section-content-service">
              <div class="service-left-part">
                <span class="service-icon rounded-circle">
                  <i class="icon-screen-smartphone"></i>
                </span>    
              </div>
              <div class="service-separator">
                <div class="triangle"></div>
              </div>
              <div>
                <h4 class="subtitle">Création</h4>
                <p>Je m'occupe de toute la partie créative du site Internet : logo, charte graphique et design du site. Je prends en compte vos préférences esthétiques ou d'utilisation. Il est aussi possible de se baser sur l'existant.</p>
                <p>Tous mes sites sont créés sûr-mesure, adaptés à vos préférences et à vos envies.</p>
              </div>
            </div>
            
            <div class="section-content-service">
              <div class="service-left-part">
                <span class="service-icon rounded-circle">
                  <i class="icon-frame"></i>
                </span>    
              </div>
              <div class="service-separator">
                <div class="triangle"></div>
              </div>
              <div>
                <h4 class="subtitle">Développement</h4>
                <p>Je développe votre site en me basant vos besoins tout en respectant tous les standards techniques.</p>
                <p>Je créé uniquement des sites statiques qui permettent une plus grande rapidité de chargement, plus de sécurité et une simplicité à prendre en main contrairement à la plupart des solutions du marché.</p>
                <p>De plus tous mes sites s'adaptent automatiquement à la taille de l'écran : du smartphone à l'ordinateur de bureau.</p>
              </div>
            </div>
            
            <div class="section-content-service">
              <div class="service-left-part">
                <span class="service-icon rounded-circle">
                  <i class="icon-share"></i>
                </span>    
              </div>
              <div class="service-separator">
                <div class="triangle"></div>
              </div>
              <div>
                <h4 class="subtitle">Publication</h4>
                <p>Une fois le site validé ensemble, je le publie avec le nom de domaine de votre choix. Je m'assure ensuite de son bon fonctionnement sur la durée, le tout sans engagement.</p>
                <p>Il est également possible de le mettre à jour quand vous voulez.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      

      <!-- Portfolio -->
      <section id="portfolio" class="main-section">
        <div class="container">
          <h2 class="title">Projets</h2>
          <div class="section-content">
            <div class="section-content-portfolio">
              {% assign posts = site.categories['portfolio'] %}
              {% assign posts_ordered_asc = posts | sort: 'date' %}
              {% assign posts_ordered_desc = posts_ordered_asc | reverse %}
              {% for post in posts_ordered_desc limit:4 %}
                <a class="portfolio-item" href="{{ post.url | relative_url }}">
                  <span class="caption">
                    <span class="caption-container">
                      <span class="caption-content">
                        <h4>{{ post.title | escape }}</h4>
                        <p>{{ post.subtitle | escape }}</p>
                      </span>
                    </span>
                  </span>
                  <amp-img width="470" height="267" class="img-fluid"
                    src="/assets/img/portfolio/{{ post.poster | relative_url }}"
                    alt="" />
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </section>


      <!-- About -->
      <section id="about" class="main-section">
        <div class="container">
          <h2 class="title">A propos</h2>
          <div class="section-content">
            <div class="center-x">
              <div class="profil-img">
                <img src="{{ "/assets/img/profil.jpg" | relative_url }}" width="140" height="140" title="Photo de profil" />
              </div>
            </div>

            <div class="space-v-1">
              <p>Je suis développeur depuis plus d’une dizaine d’années. J’ai pu créer des sites Internet et des applications avec différentes technologies. Aujourd’hui je suis spécialisé dans la création de sites Internet statiques qui offrent de nombreux avantages et où les inconvénients peuvent être comblés de plus en plus facilement.</p>
              <p>J’ai toujours été passionné par la création de site web, d’abord pour mes besoins personnels puis en tant que développeur et lead développeur salarié et maintenant pour d’autres personnes. Je fais en sorte de créer des sites que je pourrais aimer et utiliser que ce soit pour mes propres projets ou non.</p>
              <p>En plus de mes compétences techniques, j’ai eu une appétence particulière pour le design que ce soit pour les logos, la charte graphique ou l’interface graphique des sites webs que je développe.</p>
              <p>N'hésitez pas à <a class="clean underline" href="#contact">m'envoyer un message</a> si vous avez une question ou si vous voulez qu’on puisse parler directement.</p>
            </div>
          </div>
        </div>
      </section>
      

      <!-- Blog -->
      <section id="blog" class="main-section">
        <div class="container">
          <h2 class="title">Derniers articles</h2>
          <div class="section-content">
            <div class="section-content-blog">
              {% assign blog_posts = site.categories['blog'] %}
              {% assign blog_posts_ordered_asc = blog_posts | sort: 'date' %}
              {% assign blog_posts_ordered_desc = blog_posts_ordered_asc | reverse %}
              {% for post in blog_posts_ordered_desc limit:5 %}
              <article class="blog-post {%comment%}post_class{%endcomment%}">
                <header>
                  <h4><a class="small-title btn-yellow" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
                  <div class="meta">
                    <time datetime="{{ post.date | date: '%d-%m-%Y' }}">{{ post.date | date: "%B %-d %Y" }}</time> par <span rel="author" >Erwan</address>
                  </div>
                </header>
        
                <div class="text">
                  <p>{{ post.excerpt }}</p>
                  <a class="btn-yellow post-link" href="{{ post.url | prepend: site.baseurl }}">Lire la suite</a>
                </div>
                <hr class="separator-line">
              </article>
              {% endfor %}
            </div>
          </div>
        </div>
      </section>
      

      <!-- Contact -->
      <section id="contact" class="main-section">
        <div class="container">
          <h2 class="title">Contact</h2>
          <div class="section-content">
            <p>Si vous avez des questions ou des suggestions, n'hésitez pas à m'envoyer un message :</p>
            <form action="https://api.web3forms.com/submit" method="POST">

              <input type="hidden" name="apikey" value="880789f0-2086-4e04-9fa2-0508d78c650a">
              <input type="hidden" name="subject" value="Nouveau message - Erwan Web" />
              <input type="hidden" name="redirect" value="https://web3forms.com/success" />

              <div class="form-group">
                <label for="contact-name">Nom</label>
                <input id="contact-name" class="form-control" type="text" name="name" required>
              </div>
              
              <div class="form-group">
                <label for="contact-email">Email</label>
                <input id="contact-email" class="form-control" type="email" name="email" placeholder="hello@provider.com" required>
              </div>

              <div class="form-group">
                <label for="contact-message">Message</label>
                <textarea id="contact-message" class="form-control" name="message" required></textarea>
              </div>  
              
              <input type="submit" class="btn btn-primary" value="Envoyer">            
            </form>
          </div>
        </div>
      </section>

    </main>

    {% include footer.html %}

    {% include js-include.html %}


    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded-circle js-scroll-trigger clean" href="#page-top">
      <i class="icon-arrow-up"></i>
    </a>

  </body>

</html>
