<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body id="page-top">
    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
      <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="#page-top">Accueil</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#about">A Propos</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#services">Services</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#portfolio">Portfolio</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>

    <!-- Header -->
    <header class="masthead d-flex">
      <div class="container text-center my-auto">
        <h3 class="mb-0">
          <img style="height:140px; overflow: hidden;" src="{{ "/assets/img/logo.png" | relative_url }}" title="EJ" />
        </h3>
        <h1 class="mb-1">Erwan Jestin</h1>
        <h3 class="mb-5">
          <em>Développeur Web</em>
        </h3>
        <a id="cta-button" class="btn btn-primary js-scroll-trigger" href="#about">Plus d'info 
          <!-- <span class="service-small-icon"> -->
            <i class="icon-arrow-down v-center small-left-padding"></i>
          <!-- </span> -->
        </a>
      </div>
      <div class="overlay"></div>
    </header>

    <!-- About -->
    <section class="content-section bg-primary text-white" id="about">
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div>
              <img style="height:100px; overflow: hidden;" src="assets/img/waving-hand.png" title="About" />
            </div>
          </div>
          <div class="col-lg-10 mx-auto">
            <br />
            <div class="content-section-heading">
              <h2 class="text-secondary mb-4">Bonjour</h2>
            </div>
          </div>
          <div class="col-lg-10 mx-auto">
            <br />
            <div>
              <p class="mb-2 desc-font">Je suis développeur web passionné par la création de site Internet avec plus d'une dizaine d'années d'expérience dans ce domaine.
              <p class="mb-2 desc-font">Je suis particulièrement fan des sites statiques : plus sûr, plus rapide, plus simple et donc plus économique. Il n'y aucune différence visuelle avec un site standard mais il est souvent beaucoup plus simple à créer et à maintenir. Pour en savoir plus je vous invite à lire un de mes articles sur le sujet : <a class="colored-link" href="http://bootstrapyourcodingskills.com/2017/03/02/site-statique/" target="_blank" rel="noopener">Qu'est-ce qu'un site statique ?</a></p>
              <hr><br>
              <p class="mb-2 desc-font">Je vous accompagne tout le long du projet pour développer la meilleure version possible de votre site Internet à moindre coût. Je peux prendre en charge le design, le développement ainsi que la maintenance totale du site créé, cela en fonction de vos besoins.</p>
              <p class="mb-2 desc-font"><a class="colored-link" href="mailto:{{ site.email }}" target="_blank" rel="noopener">Contactez-moi</a> si vous voulez en savoir plus 🤓</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Services -->
    <section class="content-section bg-light text-center" id="services">
      <div class="container">
        <div class="content-section-heading">
          <h2 class="text-secondary mb-4">Services</h2>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <p class="mb-5 desc-font">Je m'occupe de la création, du developpement de votre site Internet ainsi que de sa publication et maintenance.
            <br />
            Vous fournissez images et textes, je m'occupe du reste. <strong>Une vraie solution tout en UN.</strong></p>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-lg-4 col-md-12 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-screen-smartphone"></i>
            </span>
            <h4>
              <strong>Design</strong>
            </h4>
            <p class="mb-0">Je m'occupe de la partie création et design du site Internet. Le site s'adaptera sur n'importe quel type d'écran (PC, smartphone...)</p>
          </div>
          <div class="col-lg-4 col-md-12 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-frame"></i>
            </span>
            <h4>
              <strong>Développement</strong>
            </h4>
            <p class="mb-0">Je développe et j'adapte le site Internet à vos besoins.</p>
          </div>
          <div class="col-lg-4 col-md-12 mb-5 mb-md-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-share"></i>
            </span>
            <h4>
              <strong>Publication</strong>
            </h4>
            <p class="mb-0">Une fois le site validé, je le publie avec le nom de domaine (nom utilisé dans le navigateur) de votre choix et je m'assure de son bon fonctionnement sur la durée.</p>
          </div>
        </div>
        <div id="contact" class="row">
          <div class="col-lg-12">
            <p class="desc-font">Un projet ou besoin d'aide pour mettre en place votre site Internet rapidement ?</p>
          </div>
            <br />
        </div>
        <div class="row">
          <div class="col-lg-12">
            <a id="contact-button" class="btn btn-primary" href="mailto:{{ site.email }}" target="_blank" rel="noopener">Me Contacter
            <i class="v-center small-left-padding icon-envelope" style="padding-top:20px;"></i>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- Portfolio -->
    <section class="content-section" id="portfolio">
      <div class="container">
        <div class="content-section-heading text-center">
          <h3 class="text-secondary mb-0">Portfolio</h3>
          <h2 class="mb-5">Projets Récents</h2>
        </div>
        <div class="row no-gutters">
          {% assign posts = site.posts | sort: 'date' %}
          {% assign sortedPosts = posts | reverse %}
          {% for post in sortedPosts limit:4 %}          
            <div class="col-lg-6 col-md-12">
              <a class="portfolio-item" href="{{ post.url | relative_url }}">
                <span class="caption">
                  <span class="caption-container">
                    <span class="caption-content">
                      <h2><strong>{{ post.title | escape }}</strong></h2>
                      <p class="mb-0">{{ post.subtitle | escape }}</p>
                    </span>
                  </span>
                </span>
                <img class="img-fluid" src="assets/img/portfolio/{{ post.poster | relative_url }}" alt="">
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>

    {% include footer.html %}

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript -->
    <script defer src="{{ "/assets/js/vendor/jquery.min.js" | relative_url }}"></script>
    <script defer src="{{ "/assets/js/vendor/bootstrap.bundle.min.js" | relative_url }}"></script>

    <!-- Plugin JavaScript -->
    <script defer src="{{ "/assets/js/vendor/jquery.easing.min.js" | relative_url }}"></script>

    <!-- Custom scripts for this template -->
    <script defer src="{{ "/assets/js/main.js" | relative_url }}"></script>

  </body>

</html>
