<!DOCTYPE html>
<html lang="en">

<head>
  
  {% include head-open.html %}

  <link href="{{ "assets/css/" | append:page.style_link | relative_url }}" rel="stylesheet">

</head>

<body>
  
  <!-- Header -->
  <header class="post_header">
    
    <div class="container">
      <nav class="post_nav_bar">
        <ul class="clean half">
          <li><a href="/#portfolio"><i class="icon-arrow-left v-center"></i><span class="small-left-padding">Retour</span></a></li>
        </ul>
        <a class="half" href="/"><img id="mini-logo" height="64px" src="{{ "/assets/img/logo-white.png" | relative_url }}" /></a>
      </nav>
    </div>

      <div class="container">
        <div class="post_hero">
        <div class="post_hero_left">
          <h1 class="post_title">{{ page.title }}</h1>
          <div class="post_title_bar_1"></div>
          <div class="post_title_bar_2"></div>
          <div class="post_cta">
            <a class="btn btn-post" href="{{ page.website }}" target="_blank" rel="noopener">Visiter le site</a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main class="post-main">
    <div class="container">

      <div class="mockup">
        {% if page.screenshot %}
        <a href="{{ page.website }}" target="_blank"><img src="{{ "assets/img/portfolio/" | append:page.screenshot | relative_url }}" /></a>
        {% endif %}
      </div>

      <div class="content_post">
        <div class="content_post_left">
          {{ page.content }}
        </div>
        <div class="content_post_right">
          <div class="poster_parent">
            <div class="poster">
              <div class="poster_image poster_desktop">
                <img src="{{ "assets/img/portfolio/" | append:page.full_desktop_screenshot | relative_url }}" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>

  <div class="post_footer">
    {% include footer.html %}
  </div>

  {% include js-include.html %}
</body>

</html>
